.theme-menu {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100vh;
    padding: 20px;
    z-index: 99;
    background-color: white;
    color: #000;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: right 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.theme-menu.active {
    right: 0;
    background-color: white;
    color: #000;
}

.theme-menu__close {
    position: absolute;
    top: 17px;
    right: 20px;
    background-color: transparent;
    font-size: 1.5rem;
}

.theme-menu__select {
    margin-top: 40px;
}

.mode-list {
    margin-top: 20px;
    background-color: transparent;
}

.mode-list > li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mode-list > li ~ li {
    margin-top: 10px;
}

.mode-list__color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 1.5rem;
}

.mode-list__color > i {
    transform: scale(0);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mode-list__color.active > i {
    transform: scale(1);
}

.light-background {
    background-color: #ffffff;
    color: #000;
}

.dark-background {
    background-color: #2d2d2d;
    color: #fff;
}

.blue-color {
    background-color: #349eff;
    color: #fff;
}

.red-color {
    background-color: #fb0b12;
    color: #fff;
}

.cyan-color {
    background-color: #10d4d2;
    color: #fff;
}

.green-color {
    background-color: #019707;
    color: #fff;
}

.orange-color {
    background-color: #d68102;
    color: #fff;
}